In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
22   18  Female     Poor        PG       Yes
45   61    Male     Poor        PG       Yes
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
2    70  Female     Good        PG        No

In [4]:
df=df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.3)

In [10]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(X_train)
X_train_Ordinal=oe.transform(X_train)
X_test_Ordinal=oe.transform(X_test)

In [11]:
X_train

     review education
48     Good        UG
5   Average    School
39     Poor        PG
46     Poor        PG
12     Poor    School
16     Poor        UG
27     Poor        PG
11     Good        UG
20  Average    School
44  Average        UG
33     Good        PG
17     Poor        UG
37  Average        PG
13  Average    School
7      Poor    School
2      Good        PG
29  Average        UG
6      Good    School
47     Good        PG
31     Poor    School
1      Poor        UG
49     Good        UG
32  Average        UG
38     Good    School
0   Average    School
26     Poor        PG
25     Good    School
35     Poor    School
41     Good        PG
9      Good        UG
21  Average        PG
15     Poor        UG
8   Average        UG
45     Poor        PG
24  Average        PG

In [12]:
X_train_Ordinal

array([[2., 1.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [2., 1.],
       [1., 0.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [2., 1.],
       [1., 2.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [1., 2.]])

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(y_train)
y_train_label=le.transform(y_train)
y_test_label=le.transform(y_test)

In [15]:
y_train

48    Yes
5     Yes
39     No
46     No
12     No
16    Yes
27     No
11    Yes
20    Yes
44     No
33    Yes
17    Yes
37    Yes
13     No
7     Yes
2      No
29    Yes
6      No
47    Yes
31    Yes
1      No
49     No
32    Yes
38     No
0      No
26     No
25     No
35    Yes
41    Yes
9     Yes
21     No
15     No
8      No
45    Yes
24    Yes
Name: purchased, dtype: object

In [16]:
y_train_label

array([1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1])