In [1]:
import numpy as np
import pandas as pd

In [2]:
match=pd.read_csv('matches.csv')

In [4]:
match.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [5]:
match.pivot_table(index='winner',columns='city',values='win_by_runs')

city,Abu Dhabi,Ahmedabad,Bangalore,Bloemfontein,Cape Town,Centurion,Chandigarh,Chennai,Cuttack,Delhi,...,Kolkata,Mumbai,Nagpur,Port Elizabeth,Pune,Raipur,Rajkot,Ranchi,Sharjah,Visakhapatnam
winner,,,,,,,,,,,,,,,,,,,,,
Chennai Super Kings,93.0,NaN,19.500000,NaN,NaN,25.0,11.000000,17.484848,NaN,26.800000,...,14.500000,7.500000,NaN,46.0,37.000000,NaN,NaN,11.333333,0.0,74.0
Deccan Chargers,NaN,NaN,0.000000,NaN,12.0,9.5,NaN,15.500000,9.666667,13.500000,...,NaN,3.333333,6.5,NaN,18.000000,NaN,NaN,NaN,NaN,NaN
Delhi Daredevils,NaN,0.000000,5.666667,14.0,0.0,0.0,0.000000,0.000000,NaN,15.869565,...,0.000000,0.000000,NaN,0.0,32.333333,3.75,0.0,NaN,0.0,4.0
Gujarat Lions,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,...,0.000000,0.000000,NaN,NaN,0.000000,NaN,0.0,NaN,NaN,NaN
Kings XI Punjab,11.5,0.000000,10.200000,0.0,27.0,NaN,13.863636,3.500000,44.000000,1.500000,...,1.000000,10.000000,NaN,0.0,0.000000,NaN,24.5,NaN,36.0,0.0
Kochi Tuskers Kerala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,6.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kolkata Knight Riders,41.0,NaN,30.333333,NaN,NaN,0.0,13.000000,0.000000,0.000000,3.400000,...,11.378378,14.333333,NaN,NaN,16.333333,NaN,0.0,0.000000,2.0,NaN
Mumbai Indians,NaN,25.000000,9.375000,NaN,19.0,0.0,12.000000,3.000000,NaN,81.333333,...,11.111111,15.866667,NaN,54.0,0.333333,NaN,0.0,NaN,NaN,40.0
Pune Warriors,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,24.000000,NaN,20.000000,...,NaN,9.333333,NaN,NaN,15.000000,NaN,NaN,7.000000,NaN,NaN
Rajasthan Royals,0.0,17.571429,19.666667,NaN,0.0,0.0,24.666667,10.000000,NaN,1.250000,...,0.000000,25.600000,2.0,0.0,13.000000,NaN,NaN,NaN,NaN,0.0
Rising Pune Supergiant,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,11.500000,NaN,NaN,12.200000,NaN,NaN,NaN,NaN,NaN
Rising Pune Supergiants,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5
Royal Challengers Bangalore,NaN,0.000000,25.533333,NaN,75.0,6.0,0.333333,28.500000,NaN,7.000000,...,0.000000,7.800000,NaN,NaN,34.000000,0.00,21.0,0.000000,0.0,NaN
Sunrisers Hyderabad,NaN,32.000000,4.000000,NaN,NaN,NaN,19.000000,NaN,NaN,5.500000,...,NaN,7.000000,NaN,NaN,11.000000,6.00,0.0,0.000000,NaN,35.0